<nav class="nav">
  <h1><a routerLink="">Shop</a> </h1>
  <div *ngIf="menuType!=='seller'" class="nav-search">
    <input type="text"
    #searchInput
    (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Nhập tên sản phẩm" />
    <button (click)="submitSearch(searchInput.value)" >Tìm</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a (mousedown)="redirectToDetails(item.id)" >{{item.name}}</a>
      </li>
    </ul>
  </div>
 <div [ngSwitch]="menuType">
  <ul *ngSwitchCase="'default'" >
    <li><a routerLink="seller-auth">Nhà bán hàng</a></li>
    <li><a routerLink="">Trang chủ</a></li>
    <li><a routerLink="user-auth">Đăng nhâp</a></li>
    <li><a href="#">Giỏ hàng({{cartItems}})</a></li>
  </ul>
  <ul *ngSwitchCase="'user'" >
    <li><a routerLink="seller-auth">Nhà bán hàng</a></li>
    <li><a routerLink="">Trang chủ</a></li>
    <li><a>{{userName | titlecase}}</a></li>
    <li><a routerLink="my-orders" >Đơn hàng</a></li>
    <li><a (click)="userLogout()" >Đăng xuất</a></li>

    <li><a [routerLink]="cartItems>0?'cart-page':null">Giỏ hàng({{cartItems}})</a></li>
  </ul>
  <ul *ngSwitchCase="'seller'" >
    <li><a routerLink="seller-add-product">Thêm sản phẩm</a></li>
    <li><a routerLink="seller-home">Danh sách</a></li>
    <li><a (click)="logout()">Đăng xuất</a></li>
    <li><a href="#">{{sellerName | titlecase}}</a></li>
  </ul>
 </div>
</nav>
